<h2 class="text-primary">MVC Modelo-Vista-Controlador</h2>

<img src="assets/imgs/mvc.png" class="img-fluid img-thumbnail" width="100%"/>
<p>
    El Modelo representa las estructuras de datos. Típicamente el modelo de clases contendrá funciones para consultar, insertar y actualizar información de la base de datos.
</p>
<p>
    La Vista es la información presentada al usuario. Una vista puede ser una página web o una parte de una página.
</p>
<p>
    El Controlador actúa como intermediario entre el Modelo, la Vista y cualquier otro recurso necesario para generar una página.
</p>

