<h1 class="text-primary">Ergonomia</h1>
<ul>
    <li>Mouse ergonomico vertical <a href="https://articulo.mercadolibre.com.mx/MLM-1452093085-mouse-raton-vertical-inalambrico-ergonomico-recargable-24g-_JM?searchVariation=174754835804#is_advertising=true&searchVariation=174754835804&position=1&search_layout=stack&type=pad&tracking_id=f2c04111-1d9b-4a0b-9766-a0f44e81744a&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=1&ad_click_id=YzUwNmY3ZjEtMTFmMi00YzAyLWE2MTAtMTViZmRlZTJmMzQ2" target="_blank">Ver sugerencia</a></li>
    <li>Teclado ergonomico
        <a href="https://articulo.mercadolibre.com.mx/MLM-1432758680-teclado-inalambrico-sculpt-ergonomico-5kv-00001--_JM#position=18&search_layout=stack&type=item&tracking_id=55aba679-3513-4b1a-af29-2e33b76979da">Ver sugerencia</a>
    </li>
    <li>Teclado gamer
        <a href="https://www.mercadolibre.com.mx/teclado-gamer-hxsj-v100-color-negro-con-luz-rainbow/p/MLM15963628?pdp_filters=category:MLM430630#searchVariation=MLM15963628&position=3&search_layout=stack&type=product&tracking_id=69fd0630-e8cb-4609-b3c8-9a640e11d5f2">Ver sugerencia</a>
    </li>
    <li>Power Toys software        
    <li>Lentes para computadora</li>    
    <li>Silla ergonomica
        <a href="https://www.amazon.com.mx/ergon%C3%B3mica-reposacabezas-inclinaci%C3%B3n-poliuretano-computadora/dp/B07Y8BXBX8?th=1">Ver sugerencia</a>
    </li>
</ul>

<h1 class="text-primary">Salud fisica</h1>
<ul>
    <li>Beba agua</li>
    <li>Haga ejercicio regularmente</li>
    <li>Haga cardio</li>
    <li>Coma verduras, una dieta balanceada</li>
    <li>Estire su cuerpo cada tanto en la jornada escolar o de trabajo</li>
    <li>Un cuerpo sano, hace fluir mejor las ideas</li>
</ul>

<h1 class="text-primary">Salud mental</h1>
<ul>
    <li>Lo más importante es su familia, amigos y pareja</li>
    <li>Tengas un hobbie o actividad diferente a la de su trabajo, pero puede ser complementaria</li>
    <li>Su jornada laboral será de 8 hrs, no trabaje mas</li>
    <li>No cambie sus horas extras por pizza</li>
    <li>Siempre busque un buen ambiente laboral</li>
    <li>Evalue su habilidades cada 6 meses</li>
    <li>Evalue su situación laboral al menos una vez al año</li>
    <li>Evite el estres y caer en burnout</li>
    <li>Aprenda a decir que no</li>
</ul>

<h1 class="text-primary">Ley federal del trabajo</h1>
<ul>
    <li>Lea la ley federal del trabajo</li>
    <li>Balance el dinero, prestaciones, salario mixto, etc</li>
    <li>No permita que le descuenten o le paguen imcompleto sin justificación</li>
    <li>Renuncie cuando le sea conveniente, oferta laboral, cansancio, estres, ambiente toxico</li>
    <li>No permita el acoso</li>
</ul>

<h1 class="text-primary">Entrevistas laborales</h1>
<ul>
    <li>Liste sus prioridades</li>
    <li>Busque un trabajo cercano</li>
    <li>Pregunte sus politicas acerca de sobre sus prioridades e interese</li>
    <li>Pregunte el protocolo o politicas en caso de error, despligues</li>
    <li>Práctique sus entrevistas</li>
</ul>

<h1 class="text-primary">Nunca para de aprender</h1>
<ul>
    <li>Aprenda ingles</li>
    <li>Aprenda a redactar un correo</li>
    <li>Aprenda administración o procesos</li>    
    <li>No se quede con la duda</li>
    <li>Haga cada 6 meses una certificación o curso</li>
    <li>Pruebe nuevas herramientas</li>
    <li>Informese sobre diferentes temas (Lectura, videos, podcast)</li>
</ul>
