<h2 class="text-success"> Temario</h2>

<h3>Presentación del curso</h3>
<ul>
    <li>Presentación del instructor</li>
    <li>Objetivo del curso</li>
    <li>Herramienta a usar</li>
    <ul>
        <li>Visual Studio 2022</li>
        <li>SqlServer</li>
        <li>Visual studio code</li>
        <li>Manegement Studio</li>
    </ul>
</ul>

<h3>Vistazo a  .NET</h3>
<ul>
    <li>Ambiente</li>
    <li>Alcances</li>
    <li>Ventajas</li>
    <li>Limites</li>
</ul>

<h3>Hola mundo</h3>

<h3>Vistazo a POO</h3>
<ul>
    <li>Clases, objetos</li>
    <li>Propiedades de una clase</li>
    <li>Metodos</li>
    <li>Herencia</li>
</ul>

<h3>Arquitectura MVC</h3>
<ul>
    <li>Modelo</li>
    <li>Vista</li>
    <li>Controlador</li>
</ul>

<h3>Proyecto CRUD de personas</h3>
<ul>
    <li>Estructura del proyecto 1</li>
    <ul>
        <li>Clase personas</li>
        <li>Creación de vistas mediante Scaffolding</li>
    </ul>
    <li>EntityFramework</li>
    <li>Validaciones</li>
    <li>Api Rest</li>
    <ul>
        <li>No todo es 200</li>
        <li>Especificar donde esta el error</li>
        <li>Aceptado, Creado</li>
    </ul>
</ul>

<h3>Despliegue</h3>

<ul>
    <li>Despliegue local</li>
    <ul>
        <li>Intalación y configuración del IIS</li>
        <li>Intalacion de Core en el IIS</li>
        <li>Zero Tier</li>
    </ul>
    <li>Despligue en hosting</li>
    <ul>
        <li>Somme</li>
        <li>Filezilla</li>
    </ul>
</ul>

<h3>Fin del curso</h3>