<h2 class="text-primary">Practica 1</h2>

<p>Estructura del proyecto <b>PointOfSale.BusinessLayer</b>, este es un proyecto del tipo libreria</p>

<ul>
    <li>Contexts</li>
        <ul>
            <li>Store.cs</li>
        </ul>
    <li>Entities</li>
        <ul>
            <li>Product.cs</li>
        </ul>
    <li>BusinessLayer</li>
        <ul>
            <li>PointOfSale</li>
        </ul>
</ul>

<div class="card mb-3" style="max-width: 20rem;">
    <div class="card-header">ProductEntity</div>
    <div class="card-body">
        <p class="card-text">+ int Id</p>
        <p class="card-text">+ string Name</p>
        <p class="card-text">+ decimal Price</p>        
    </div>
</div>

<div class="card mb-3" style="max-width: 30rem;">
    <div class="card-header">Store</div>
    <div class="card-body">        
        <p class="card-text">+ ProductEntity GetProductById(productId)</p>        
    </div>
</div>

<div class="card mb-3" style="max-width: 20rem;">
    <div class="card-header">PointOfSale</div>
    <div class="card-body">
        <p class="card-text">+ AddProduct(Product)</p>
        <p class="card-text">+ GetTotal()</p>
    </div>
</div>

<p>Estructura del proyecto <b>PointOfSale.Console</b></p>

<p>
    Agregue como referencia <b>PointOfSale</b> a <b>PointOfSale.Console</b>
</p>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>