<h2 class="text-primary">Programación Orientada a Objetos</h2>

<ul>
    <li>Clase</li>
    <li>Objeto</li>
    <li>Herencia</li>
</ul>

<h3 class="text-primary">Código Limpio</h3>
<ul>
    <li>Una clase una responsabilidad</li>
    <li>Coloca nombres representativos</li>
    <li>Código legible</li>
    <li>Usa excepciones</li>
    <li>...</li>
</ul>

<h3 class="text-primary">Clases a usar</h3>

<div class="card mb-3" style="max-width: 20rem;">
    <div class="card-header">PersonEntity</div>
    <div class="card-body">
        <p class="card-text">+ int Id</p>
        <p class="card-text">+ string Name</p>
        <p class="card-text">+ string LastName</p>
        <p class="card-text">+ string Genere</p>
        <p class="card-text">+ Date Birthday</p>
        <p class="card-text">+ DateTime DateRegistration</p>
        <p class="card-text">+ bool IsActive</p>
    </div>
</div>

<div class="card mb-3" style="max-width: 20rem;">
    <div class="card-header">PersonRepository</div>
    <div class="card-body">
        <p class="card-text">+ int Save(PersonEntity)</p>
        <p class="card-text">+ Update(PersonEntity)</p>
        <p class="card-text">+ Delete(PersonEntity)</p>
        <p class="card-text">+ List PersonEntity Get()</p>
        <p class="card-text">+ PersonEntity Get(int id)</p>
    </div>
</div>

<hr/>
<ul>
    <li>Libros</li>
    <li>Peliculas</li>
    <li>Mascotas</li>
    <li>Museos</li>
    <li>Restaurantes</li>
</ul>