<h2 class="text-primary">Bienvenido al curso de introducción de .NET</h2>

<div class="text-center mb-5">
    <img src="/assets/imgs/DotNet.png" class="img-fluid img-thumbnail" width="100%"/>
</div>

<br/>
<h3 class="text-primary">Acerca del instructor</h3>
<p>Amante de los michis, señor de las plantas y de oficio programador en C#</p>
<p>
    A la fecha de la impartición de este curso, cuento con 5 años de experiencia como desarrorador de .NET en C#
    Me especializo en el backend, en la creación y consumo de Api, he desarrollado y mantenido sistemas en MVC, ApiRest,
    haciendo mantenibles y escalables.
</p>

<br/>
<h3 class="text-primary">Objetivo del curso</h3>
<p>El curso tiene por objetivo mostrar un herramienta más de programación, conceptos actuales de la industria</p>
<img src="/assets/imgs/Platform.png" class="img-fluid img-thumbnail" width="100%"/>
