<h1 class="text-primary">Herramienta a usar</h1>
<hr class="text-primary"/>
<h2>Visual Studio Code</h2>
<p>Solo instale siguiendo el wizard</p>
<p>
    <img src="assets/imgs/VisualStudioCode.png" class="img-fluid img-thumbnail"/>
</p>

<h2>Visual Studio 2022</h2>

<p>Busque en google Visual Studio o acceda a la siguiente liga

    <a href="https://visualstudio.microsoft.com/es/downloads/" target="_blank">Ir al sitio de descarga</a>
</p>

<p>
    Le aparecera algo similar a la siguiente imagen
</p>

<img src="assets/imgs/VisualStudio.png" class="img-fluid img-thumbnail"/>
<p> Descargue e instale Visual Studio Code, el de los colores azules</p>

<p> Descargue  la versión community, descarga gratuita, execute el installer y seleccione <b>ASP:NET and web development</b></p>
<img src="assets/imgs/VisualStudioInstaller.png" class="img-fluid img-thumbnail"/>
<p>Siga las instrucciones de instalación</p>
<h2>Sql server</h2>
<img src="assets/imgs/LogoSqlServer.png" class="img-fluid img-thumbnail"/>
<p>Busque en google SqlServer o <a href="https://www.microsoft.com/es-mx/sql-server/sql-server-downloads">ir al sitio</a></p>
<p>Descargue la version express, que debe lucir como la siguiente imagen</p>
<img src="assets/imgs/SqlServerExpress.png" class="img-fluid img-thumbnail"/>
<p>Instale siguiendo las instrucciones del wizard, una vez terminada la instalación tendra algo como lo siguiente.</p>
<p>
    Recuerde que solo ha instalado el motor de la base de datos, falta configurar el motor y agregar un visor que nos ayude a
    hacer visibles los datos. De click en <b>Customize</b> para hacer las configuraciones
</p>
<img src="assets/imgs/SqlExpressInstall01.png" class="img-fluid img-thumbnail"/>

<br/>
<p>Cuando llegue a <b>Instance Configuration</b> elija <b>Default instance</b> esto con el objetivo de tener un nombre claro</p>

<img src="assets/imgs/SqlExpressInstall02.png" class="img-fluid img-thumbnail"/>

<br/>
<p>
    En <b>Data Engine Configuration</b> elija <b>Mixed mode</b> esto para definir una contraseña, coloque una contraseña sencilla
    por ej <b>123456</b>
</p>
<img src="assets/imgs/SqlExpressInstall03.png" class="img-fluid img-thumbnail"/>

<br/><br/>
<h2>Management studio</h2>
<p>
    Por utlimo nos falta un visor un GUI que nos ayude a visualizar la DB, aqui no hay mayor problema solo de siguiente hasta finalizar
    la instalación.
</p>
