<div class="row">
  <div class="col-3 mt-3">
    <div class="container-fluid">
      <a routerLink="">
        <h1 class="text-secondary">Introducción a .NET</h1>
      </a>
      <app-menu></app-menu>
    </div>
  </div>
  <div class="col-9">
    <div class="container-fluid mt-4">      
      <router-outlet></router-outlet>
    </div>    
  </div>
</div>
<br/><br/><br/><br/>
<footer class="fixed-bottom bg-dark">
  <div class="text-center m-4 text-white">
    Víctor Martínez  Diciembre 2022
  </div>
</footer>

