<h2 class="text-primary">Vistazo a .NET</h2>
<hr class="text-primary" />
<img src="/assets/imgs/Arrival.jpg" class="img-fluid img-thumbnail"/>
<p>
    Microsoft lanza el proyecto de NetCore 1 alla por el 2016, destinado para web con la promesa cumplida que es multiplataforma
</p>

<img src="/assets/imgs/OpenSource.jpg" class="img-fluid img-thumbnail" style="max-height: 250px ;"/>
<p>
    Este proyecto es de código libre y es el sucesor de Framework
</p>

<img src="/assets/imgs/linux-dotnet6.png" class="img-fluid img-thumbnail" style="height: 250px ;"/>
<p>
    Con Framework se construyen aplicaciones de escritorio, aplicaciones web y apis, pero esta solo funcionan en windows.
    <br/>
    Con Core se construyen aplicaciones web y api, corren en linux, Mac y Windows
</p>

<h2 class="text-primary">Roadmap</h2>
<img src="/assets/imgs/RoadMap.png" class="img-fluid img-thumbnail"/>