<ul class="nav flex-column">
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/contents">Temario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/review-to-dotnet">Vistazo a .NET</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/tools">Herramientas a usar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/review-to-poo">Programación Orientada a Objetos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/practice-one">Práctica 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/review-to-mvc">MVC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/practice-two">Práctica 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dependency-injection">Inyección de dependencias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/apiRest">ApiRestFul</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/desploy">Despliegue</a>
    </li>
    
</ul>
<hr class="text-primary"/>

<ul class="nav flex-column">
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/recommendations">Recomendaciones</a>
    </li>   

</ul>