<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contents">temario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="review-to-dotnet">Vistazo a .NET</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Presentación del curso</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Presentación del instructor</a></li>
            <li><a class="dropdown-item" href="#">Objetivo del curso</a></li>
            <li><a class="dropdown-item" href="/PresentacionDelCurso/Herramientas">Herramientas a usar</a></li>            
        </ul>
    </li>

</ul>