<h2 class="text-primary">Practica 2</h2>

<p>
    En esta parte se hara un CRUD de personas con los datos, utilizando EntitiFramawork y las herramientas
    que nos proporciona Visual Studio.
</p>

<p>
    Agreguemos un proyecto tipo libreria llamado <b>Persons.BusinessLayer</b> haga la siguiente estructura:
</p>
<ul>
    <li>Repositories</li>
    <ul>
        <li>Repository.cs</li>
    </ul>
    <li>Entities</li>
    <ul>
        <li>PersonEntity.cs </li>
    </ul>
    <li>Bl</li>
    <ul><li>PersonBl.cs</li></ul>
</ul>

<!-- <p>
    En gestor de paquetes nuget agregue <b>Pomelo.EntityFrameworkCore.MySql</b>
</p> -->

